
.main{
  font-size: 12px;
  position: center;
text-align: center;
  /* background-color:whitesmoke; */
  color: black;
  height:50%;
  width:100%;
  min-height:100%;
  background: cover;

}
.recipeAdd{
  max-width: 10%
}
.mainDiv {
  text-align: center;
  margin: auto 0;
  width: 100%;
}

.Link {
  color: white
}
.navbar {
  display: inline;
  color: black;
  border-radius: .5em;
  background: burlywood;
}

ul{
  list-style-type: none;

}
.Card{
  margin:5em;
}



.jumbo{
  margin:.5em;
  box-align: center;
}

.navbar-list-styling{
  display: none;
/* padding: 50px; */
  width: auto;
  background-color:whitesmoke;
  color: whitesmoke;
}
.navButton {
  padding:1em;
  /* margin: .5em; */
}
.toolBar{
  box-align: center;
}

